.app-c-button-group {
    --button-group-content-query-px: 500;
    
    display: block;
    width: 100%;
}

.app-c-button-group.is-content-query .app-c-button {
    display: block;
    width: 100%;
}

.app-c-button-group.is-content-query app-button:not(:last-child) {
    display: block;
    margin-bottom: 10px;
}