color<br/>
r: <input type="number" name="name" min="0" max="255" step="5" ng-model="$ctrl.r"/>
g: <input type="number" name="name" min="0" max="255" step="5" ng-model="$ctrl.g"/>
b: <input type="number" name="name" min="0" max="255" step="5" ng-model="$ctrl.b"/>
a: <input type="number" name="name" min="0" max="1" step="0.1" ng-model="$ctrl.a"/>


<div class="cascade" teo-style="{
    '--color-r': $ctrl.r,
    '--color-g': $ctrl.g,
    '--color-b': $ctrl.b,
    '--color-a': $ctrl.a
}">
    <div class="cascade__title">It is really cascading</div>
    <div>rgba({{$ctrl.r}},{{$ctrl.g}},{{$ctrl.b}},{{$ctrl.a}})</div> 
</div>

